section.Consent {display: none;}
section.Rules {display: none;}
section.Demographics {display: none;}
section.Introduction {display: none;}
section.Pretest {display: none;}
section.Training1 {display: none;}
section.Posttest {display: none;}
section.Usability {display: none;}
section.Alternative1 {display: none;}
section.Comparison1 {display: none;}
section.Comparison2 {display: none;}
section.Training2 {display: none;}
section.Alternative2 {display: none;}
section.Finish {display: none;}